// root code


// variables

$purple: #9356DC;

$pink: #FF79DA;

$turquoise: #99E2D0;

$texte_font: 'Raleway', sans-serif;

$title_font: 'Shrikhand', serif;

$grey_background: #f6f6f6;

$nav_background: #eaeaea;

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


// mixins

@mixin purple_button {
    border-radius: 20px;
    box-shadow: $shadow;
    outline: 0;
    border: 0;
    background-image: linear-gradient($pink 10%, $purple 100%);
    color: white;
    font-family: $texte_font;
    font-weight: bold;
    transition-duration: 1s;
    &:hover {
        opacity: 65%;
        scale: 1;
        box-shadow: none;
        cursor: pointer;
    }
}

@mixin like-button {
        fill: transparent;
        stroke: black;
        stroke-width: 2%;
        width: 50px;
        padding: 0;
        transition: 1s ease-in-out;
        &:hover {
            fill: url(#gradient-heart);
            stroke-width: 0;
            cursor: pointer;
        }
}

#gradient-heart {
    --color-stop-1: #a770ef;
    --color-stop-2: #cf8bf3;
  }


// body
body {
    margin: 0;
}


// header

header {
    width: 100%;
    height: 4em;
    background-color: white;
    box-shadow: $shadow;
    .header__logo{
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 25px;
    }
}

// nav

nav {
    width: 100%;
    height: 3em;
    padding: 0;
    background-color: $nav_background;
    .nav__content{
        text-align: center;
        font-family: $texte_font;
        color: rgb(58, 58, 58);
        padding-top: 1px;
        font-weight: bold;
    }
    i {
        padding-right: 1em;
    }
}

// reservation

.reservation {
    width: 100%;
    background-color: $grey_background;
    height: 16em;
    min-height: 14em;
    .reservation__content {
        text-align: center;
        padding-top: 2em ;
        h2 {
            margin: 0;
            font-family: $texte_font;
        }
        p {
            padding: 1em;
            font-family: $texte_font;
        }
    }
        .reservation__btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
            @include purple_button;
        }
}

// fonctionnement

.fonctionnement {
    width: 100%;
    padding-top: 2em;
    .fonctionnement__cards  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        font-family: $texte_font;
        padding-left: 1em;
        padding-bottom: 0.5em;
    }
    .fonctionnment__background {
        background-color: white;
        width: 400px;
        height: 4em;
        margin: 1em;
        border-radius: 20px;
        box-shadow: $shadow;
    }
    .fonctionnement__content {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        p{
            text-align: left;
            font-family: $texte_font;
            font-weight: bold;
            margin-top: 0;
            margin: 0;
            width: 75%;
        }
        i {
            padding-right: 1em;
            transition: 0.5s ease-in;
        &:hover {
            color: $purple;
            cursor: pointer;
        }
    }
    .fonctionnement--number {
        position: relative;
        background-color: $purple;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        text-align: center;
        left: -0.5em ;
        font-family: $texte_font;
        color: white;
        }
    }

}

// restaurants

.restaurants {
    width: 100%;
    padding-left: 1em;
    background-color: $grey_background;
    padding-bottom: 2em;
    .restaurants__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h2 {
        font-family: $texte_font;
        padding-top: 2em;
    }
    .restaurants__background{
        width: 490px;
        min-width: 300px;
        height: 290px;
        background-color: white;
        border-radius: 20px;
        padding-bottom: 0;
        margin-bottom: 2em;
        margin-right: 2em;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
            .restaurants__cards--content {
                padding-left: 1em;
                h3 {
                    font-family: $texte_font;
                    margin-bottom: 0;
                    width: 50%;
                }
                p {
                    font-family: $texte_font;
                    margin-top: 0.5em;
                }
            }
    }

    .restaurants__cards--nouveau{
        position: relative;
        .restaurants__cards--nouveau_box{
        top: 1em;
        right: 1em;
        width: 80px;
        height: 25px;
        padding-top: 0.6em;
        text-align: center;
        background-color: $turquoise;
        position: absolute;
        font-family: $texte_font;
        color: green;
        font-size: small; 
        box-shadow: $shadow;
        border-radius: 2px;
        font-weight: bold;
        }
    }
    .icon {
        @include like-button;
        float: right;
        .heart-main {
            width: 19px;
        }
    }
}




footer {
    width: 100%;
    background-color: #353535;
    padding-bottom: 1em;
    padding-top: 1em;
    h3 {
        font-family: $title_font;
        color: white;
        padding-left: 2em;
    }
    ul{
        list-style: none;
        color: white;
        font-family: $texte_font;
        li{
        padding-top: 1em; 
        i{
        color: white;
        padding-right: 1em;
          }
        }
    }
}
