#gradient-heart {
  --color-stop-1: #a770ef;
  --color-stop-2: #cf8bf3;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 4em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header .header__logo {
  padding-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
}

nav {
  width: 100%;
  height: 3em;
  padding: 0;
  background-color: #eaeaea;
}
nav .nav__content {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: rgb(58, 58, 58);
  padding-top: 1px;
  font-weight: bold;
}
nav i {
  padding-right: 1em;
}

.reservation {
  width: 100%;
  background-color: #f6f6f6;
  height: 16em;
  min-height: 14em;
}
.reservation .reservation__content {
  text-align: center;
  padding-top: 2em;
}
.reservation .reservation__content h2 {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.reservation .reservation__content p {
  padding: 1em;
  font-family: "Raleway", sans-serif;
}
.reservation .reservation__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: 0;
  border: 0;
  background-image: linear-gradient(#FF79DA 10%, #9356DC 100%);
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  transition-duration: 1s;
}
.reservation .reservation__btn:hover {
  opacity: 65%;
  scale: 1;
  box-shadow: none;
  cursor: pointer;
}

.fonctionnement {
  width: 100%;
  padding-top: 2em;
}
.fonctionnement .fonctionnement__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement h1 {
  font-family: "Raleway", sans-serif;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
@media (min-width: 1320px) {
  .fonctionnement h1 {
    padding-left: 4em;
  }
}
.fonctionnement .fonctionnment__background {
  background-color: white;
  width: 400px;
  height: 4em;
  margin: 1em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fonctionnement .fonctionnement__content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.fonctionnement .fonctionnement__content p {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin: 0;
  width: 75%;
}
.fonctionnement .fonctionnement__content i {
  padding-right: 1em;
  transition: 0.5s ease-in;
}
.fonctionnement .fonctionnement__content i:hover {
  color: #9356DC;
  cursor: pointer;
}
.fonctionnement .fonctionnement__content .fonctionnement--number {
  position: relative;
  background-color: #9356DC;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  left: -0.5em;
  font-family: "Raleway", sans-serif;
  color: white;
}

.restaurants {
  width: 100%;
  padding-left: 1em;
  background-color: #f6f6f6;
  padding-bottom: 2em;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.restaurants h2 {
  font-family: "Raleway", sans-serif;
  padding-top: 2em;
}
@media (min-width: 1320px) {
  .restaurants h2 {
    padding-left: 4em;
    padding-bottom: 1em;
  }
}
.restaurants .restaurants__background {
  width: 600px;
  min-width: 300px;
  height: 290px;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 0;
  margin-bottom: 2em;
  margin-right: 2em;
}
.restaurants .restaurants__background img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .restaurants__background .restaurants__cards--content {
  padding-left: 1em;
}
.restaurants .restaurants__background .restaurants__cards--content h3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
  width: 50%;
  text-decoration: none;
  color: black;
}
.restaurants .restaurants__background .restaurants__cards--content p {
  font-family: "Raleway", sans-serif;
  margin-top: 0.5em;
  color: black;
}
.restaurants .restaurants__cards--nouveau {
  position: relative;
}
.restaurants .restaurants__cards--nouveau .restaurants__cards--nouveau_box {
  top: 1em;
  right: 1em;
  width: 80px;
  height: 25px;
  padding-top: 0.6em;
  text-align: center;
  background-color: #99E2D0;
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: green;
  font-size: small;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
  font-weight: bold;
}
.restaurants .icon {
  fill: transparent;
  stroke: black;
  stroke-width: 2%;
  width: 50px;
  padding: 0;
  transition: 1s ease-in-out;
  float: right;
}
.restaurants .icon:hover {
  fill: url(#gradient-heart);
  stroke-width: 0;
  cursor: pointer;
}
.restaurants .icon .heart-main {
  width: 19px;
}

.removelinkdefault {
  color: black;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: #353535;
  padding-bottom: 1em;
  padding-top: 1em;
}
footer h3 {
  font-family: "Shrikhand", serif;
  color: white;
  padding-left: 2em;
}
@media (min-width: 1320px) {
  footer h3 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    margin-right: 1em;
  }
}
footer ul {
  list-style: none;
  color: white;
  font-family: "Raleway", sans-serif;
}
footer ul li {
  padding-top: 1em;
}
footer ul i {
  color: white;
  padding-right: 1em;
}
@media (min-width: 1320px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
}

.header--return {
  position: absolute;
  top: 1em;
  left: 1em;
  color: black;
  width: 20px;
  height: 20px;
  justify-content: center;
}

.menu_header {
  width: 100%;
  height: 4em;
}
.menu_header img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */