// root code


// variables

$purple: #9356DC;

$pink: #FF79DA;

$turquoise: #99E2D0;

$texte_font: 'Roboto', sans-serif;

$title_font: 'Shrikhand', serif;

$grey_background: #f6f6f6;

$nav_background: #eaeaea;

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$shadow_2: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


// mixins

@mixin purple_button {
    border-radius: 25px;
    width: 200px;
    height: 50px;
    box-shadow: $shadow_2;
    outline: 0;
    border: 0;
    background-image: linear-gradient($pink 10%, $purple 100%);
    color: white;
    font-family: $texte_font;
    font-weight: 400;
    transition-duration: 1s;
    &:hover {
        opacity: 65%;
        scale: 1;
        box-shadow: none;
        cursor: pointer;
    }
}

@mixin like-button {
        fill: transparent;
        stroke: black;
        stroke-width: 2%;
        width: 50px;
        padding: 0;
        transition: 1s ease-in-out;
        &:hover {
            fill: url(#gradient-heart);
            stroke-width: 0;
            cursor: pointer;
        }
}

#gradient-heart {
    --color-stop-1: #a770ef;
    --color-stop-2: #cf8bf3;
  }


// body
body {
    margin: 0;
}


// header

header {
    width: 100%;
    height: 4em;
    background-color: white;
    box-shadow: $shadow_2;
    .header__logo{
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 25px;
    }
}

// nav

nav {
    width: 100%;
    height: 3em;
    padding: 0;
    background-color: $nav_background;
    .nav__content{
        text-align: center;
        font-family: $texte_font;
        color: rgb(58, 58, 58);
        padding-top: 1px;
        font-weight: 500;
    }
    i {
        padding-right: 1em;
    }
}

// reservation

.reservation {
    width: 100%;
    background-color: $grey_background;
    height: 16em;
    min-height: 14em;
    .reservation__content {
        text-align: center;
        padding-top: 2em ;
        h2 {
            margin: 0;
            font-family: $texte_font;
        }
        p {
            padding: 1em;
            font-family: $texte_font;
            font-weight: 400;
        }
    }
        .reservation__btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
            @include purple_button;
        }
}

// fonctionnement

.fonctionnement {
    width: 100%;
    padding-top: 2em;
    .fonctionnement__cards  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        font-family: $texte_font;
        padding-left: 1em;
        padding-bottom: 0.5em;

        @media (min-width: 1320px) {
            padding-left: 4em;
        }
    }
    .fonctionnment__background {
        background-color: $grey_background;
        width: 335px;
        min-width: 300px;
        height: 70px;
        margin: 1em;
        border-radius: 20px;
        box-shadow: $shadow;
    }
    .fonctionnement__content {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        p{
            text-align: left;
            font-family: $texte_font;
            font-weight: 500;
            margin-top: 0;
            margin: 0;
            width: 75%;
        }
        i {
            padding-right: 1em;
            color: grey;
            transition: 0.3s ease-in-out;
            &:hover {
                color: $purple;
                cursor: pointer;
        }
        
    }
    .fonctionnement__content--number {
        position: relative;
        background-color: $purple;
        width: 1.5em;
        height: 1.5em;
        padding-top: 2px;
        border-radius: 50%;
        text-align: center;
        left: -0.5em ;
        font-family: $texte_font;
        color: white;
        }
    }
}

// restaurants

.restaurants {
    width: 100%;
    padding-left: 1em;
    background-color: $grey_background;
    padding-bottom: 2em;
    .restaurants__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h2 {
        font-family: $texte_font;
        padding-top: 2em;
        @media (min-width: 1320px) {
            padding-left: 4em;
            padding-bottom: 1em;
        }
    }
    .restaurants__background{
        width: 600px;
        height: 290px;
        background-color: white;
        border-radius: 20px;
        padding-bottom: 0;
        margin-bottom: 2em;
        margin-right: 2em;
        @media (max-width: 1300px) {
            width: 400px;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
            .restaurants__content {
                padding-left: 1em;
                h3 {
                    font-family: $texte_font;
                    margin-bottom: 0;
                    width: 50%;
                    text-decoration: none;
                    color: black;
                }
                p {
                    font-family: $texte_font;
                    font-weight: 400;
                    margin-top: 0.5em;
                    color: black;
                }
            }
    }
    .restaurants__cards--nouveau{
        position: relative;
        .restaurants__cards--nouveau_box{
        top: 1em;
        right: 1em;
        width: 80px;
        height: 25px;
        padding-top: 0.6em;
        text-align: center;
        background-color: $turquoise;
        position: absolute;
        font-family: $texte_font;
        color: green;
        font-size: small; 
        box-shadow: $shadow;
        border-radius: 2px;
        font-weight: 500;
        }
    }
    .restaurants__content--icon {
        @include like-button;
        float: right;
        .heart-main {
            width: 19px;
        }
    }
}

.restaurants__remove_decoration {
    color: black;
    text-decoration: none;
}

// footer

footer {
    width: 100%;
    background-color: #353535;
    padding-bottom: 1em;
    padding-top: 1em;
    .footer__title {
        font-family: $title_font;
        color: white;
        @media (min-width: 1320px) {
            display: flex;
            flex-direction: reverse;
        }
    }
    ul{
        list-style: none;
        color: white;
        font-family: $texte_font;
        li{
        padding-top: 1em; 
    }
        i{
        color: white;
        padding-right: 1em;
          }
        @media (min-width: 1320px) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 0;
            margin: 0;
        }
    }
}


// menu pages

// menu header
.header--return {
    position: absolute;
    top: 1em;
    left: 1em;
    color: black;
    width: 20px;
    height: 20px;
    justify-content: center;
}


// menu image
.header__img {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

// plats section

.menu {
    width: 100%;
    margin-top: 0;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: $grey_background;
    .menu__header {
        position: relative;
        h2 {
            margin: 0;
            padding-top: 1em;
            padding-left: 1em;
            font-family: $title_font;
        }
        .menu__header--icon {
            @include like-button;
            position: absolute;
            right: 1.5em;
            top: 2em;
        }
    }

}

.menus__cards {
    padding-bottom: 3em;
    .menus__cards--title {
        font-family: $texte_font;
        font-weight: lighter;
        padding-left: 0.5em;
        text-decoration: underline 2px $turquoise;
        padding-top: 1.5em;
    }
    .menus__background {
        background-color: white;
        width: 400px;
        min-width: 300px;
        height: 70px;
        margin: 1em;
        border-radius: 20px;
        box-shadow: $shadow;
    }
    .menus__content {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 70px;
        width: 400px;
        h3 {
            font-weight: 500;
            font-family: $texte_font;
            margin-top: 0.5em;
            margin-left: 1em;
            height: 1em;
            margin-bottom: 0.5em;
        }
        p {
            font-family: $texte_font;
            font-weight: 300;
            margin-left: 1.1em;
            margin-top: 0;
        }
        .menus__content--price {
            position: absolute;
            right: 1em;
            top: 2.5em;
            font-family: $texte_font;
            font-weight: 500;
            color: #353535;
        }
    }
    .menu__btn {
        @include purple_button;
        display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2em;
    }

}

